<p-toolbar [style]="{ height: '100px' }">
  <div class="p-toolbar-group-start">
    <img src="assets/icons/icon-72x72.png" alt="logo"/>
  </div>

  <div class="p-toolbar-group-center text-3xl font-bold">
    {{ title() }}
  </div>

  <div class="p-toolbar-group-end flex align-items-center gap-3">
    <div *ngIf="user$ | async as user" class="flex align-items-center gap-2">
      <span class="font-medium">{{ user.username }}</span>
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
      <button
        pButton
        type="button"
        icon="pi pi-user"
        class="p-button-rounded p-button-text"
        (click)="menu.toggle($event)"
      ></button>
    </div>
    <app-shopping-cart></app-shopping-cart>
  </div>
</p-toolbar>
