<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-dataView #dv [value]="products()">
  <ng-template pTemplate="list" let-products>
    @for (product of products; track product) {
      <app-product-item [product]="product" (updateProduct)="onUpdate($event)" (deleteProduct)="onDelete($event)"></app-product-item>
    }
  </ng-template>
</p-dataView>
<div class="flex justify-content-center mt-4">
  <p-paginator
    [rows]="pageSize()"
    [totalRecords]="totalRecords()"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    (onPageChange)="onChange($event)"
  ></p-paginator>
</div>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
